# Python
venv/
__pycache__/
*.pyc
*.pyo
tests/reports/
.pytest_cache/

# Data (too large for git)
data/raw/
data/processed/

# Model checkpoints
checkpoints/

# MLflow
mlflow.db
mlruns/
mlruns_local/
mlartifacts/

# Hydra
outputs/
.hydra/

# Env
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
